@use '../utils' as *;

/*----------------------------------------*/
/*  2.3 buttons
/*----------------------------------------*/

// Common button
.rr-btn {
    background-color: var(--rr-theme-primary);
    color: var(--rr-heading-primary);
    font-family: var(--rr-ff-body);
	font-weight: var(--rr-fw-sbold);
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    padding: 11px 28px;
    text-transform: capitalize;
    display: inline-flex;
	align-items: center;
    gap: 8px;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 5;
    i{
        font-size: 14px;
    }
    
    &-bold{
        font-weight: var(--rr-fw-bold);
    }
    svg path{
        @extend %rs-transition-3;
    }

    &:focus {
        color: var(--rr-common-white);
    }
    
    &::before {
        background: var(--rr-heading-primary);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-165%, 0) rotate(0deg);
        transform-origin: right bottom;
        transition: all 0.35s;
        z-index: -1;
        content: "";
    }
 
	&:hover {
        color: var(--rr-common-white);
        background: var(--rr-heading-primary);
        &::before {
            transform: translate(0, 0);
        }
        
        svg path[fill="#00160A"] {
            fill: var(--rr-common-white);
        }
	}
    
    &.btn-hover-white {
        
        &::before {
            background-color: var(--rr-common-white);
        }
        &:hover {
            color: var(--rr-heading-primary);
            
            svg path[fill="white"] {
                fill: var(--rr-heading-primary);
            }
        }
    }
    
    &.btn-transparent {
        // padding: 12px 28px;
        border: 1px solid rgb(3 6 17 / 14%);
        color: var(--rr-heading-primary);
        background-color: transparent;
        
        &::before {
            background-color: var(--rr-heading-primary);
        }
       
        
        &.btn-border-2 {
            padding: 18px 30px;
            border: 2px solid var(--rr-theme-primary);
            &::before {
                border-radius: 0;
            }
        }
        
        &.btn-border-gray {
            padding: 19px 22px;
            border-color: var(--rr-heading-primary);
            
            @media #{$md, $lg} {
                padding: 10px 15px;
            }
            
            @media #{$xs, $sm} {
                padding: 6px 10px;
            }
            
            &:hover {
                i {
                    background-color: var(--rr-theme-primary);
                }
            }
            
            i {
                @extend %rs-transition-3;
                @include border-radius(5px);
                width: 40px;
                height: 40px;
                padding: 10px;
                background-color: var(--rr-heading-primary);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
                @media #{$xs, $sm} {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        
        svg path[fill="white"] {
            fill: var(--rr-theme-primary);
        }
        &:hover {
            color: var(--rr-common-white);
            // border: 1px solid var(--rr-theme-primary);
            svg path[fill="white"] {
                fill: var(--rr-common-white);
            }
            span{
                background-color: var(--rr-common-white);
                i{
                    color: var(--rr-heading-primary);
                }
            }
        }
    }
    
    &.btn-white {
        color: var(--rr-heading-primary);
        background-color: var(--rr-common-white);
        width: 100%;
        &::before {
            background-color: var(--rr-heading-primary);
        }
        &:hover {
            color: var(--rr-common-white);
            // background-color: var(--rr-heading-primary);
        }
    }
    
    &.btn-text-color-white {
        color: var(--rr-common-white);
    }
}
.title-btn{
    font-family: var(--rr-ff-heading);
    color: var(--rr-text-primary);
    font-weight: var(--rr-fw-medium);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid rgba(21, 21, 21, 0.14);
    border-radius: 6px;
    padding: 5px 33px 5px 5px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    span{
        background: var(--rr-text-primary);
        color: var(--rr-common-white);
        border-radius: 4px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
